    </div>
    <style>
    .showcase-wrapper {background-image: url("{{ site.baseurl }}/images/header.jpg");}
    </style>
    <div class="showcase-wrapper sticky">
    <div class="showcase-text">
        <!-- {% for post in site.posts limit: 1 %}
        <span class="badge lazy"><smaller>FRESHLY MINTED</smaller></span><br>{{ post.title }}<br><a href="{{ site.baseurl }}{{ post.url }}"><button type="button" class="btn btn-default showcase-button">Read More</button></a>
        {% endfor %} -->
        Proofreading Services<br>
        <a href="{{ site.baseurl }}/services"><button type="button" class="btn btn-default showcase-button">Services</button></a>
        <a href="{{ site.baseurl }}/rates"><button type="button" class="btn btn-default showcase-button">Rates</button></a>
        <a href="{{ site.baseurl }}/ordering"><button type="button" class="btn btn-default showcase-button">Ordering</button></a>
        <a href="{{ site.baseurl }}/contact"><button type="button" class="btn btn-default showcase-button">Contact</button></a>
        <a href="{{ site.baseurl }}/about"><button type="button" class="btn btn-default showcase-button">About</button></a>


    </div>
</div>
    <div class="container">

